html {
    overflow: hidden;
}

div#view_slide {
    width: 100%;
    height: 100%;
    background-color: black;
    border: 1px solid #000;
    color: white;
}

div.panel.panel-default {
	margin-right: 10px;
}

div.alert {
	margin-right: 10px;
}