{% from "macros.html" import link_to %}
{% extends "bootstrap/base.html" %}

{% set full_screen_view = full_screen_view | default("False") -%}

  <head>
    <!-- Styles -->
    {% block styles %}
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link href="../static/bootstrap-fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

    {{ super() }}

    {% if full_screen_view == "True" %}
      <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
    {% endif %}
    {% endblock %}

    <!-- Title -->
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>FWAT - Fast WSI Annotation Tool</title>
    {% endif %}

  </head>

  {% block body %}

  
  {% if full_screen_view == "False" %}

    <!-- Navigation bar sticking to top -->
    {% set navigation_bar = [
        ('/', 'dashboard', 'Dashboard'),
        ('/new_study', 'studies', 'Studies'),
        ('/new_dataset', 'datasets', 'Datasets')
    ] -%}

    {% set active_page = active_page|default('dashboard') -%}

    <ul class="nav nav-tabs">
        {% for href, id, caption in navigation_bar %}
          <li role="presentation" {% if id == active_page %} class="active"{% endif%}>
            <a href="{{ href|e }}">{{ caption|e }}</a>
          </li>
        {% endfor %}
    </ul>

    {% endif %}

  <div class="container-fluid">

      {% block content %}
      <!-- Main page content here, except for slide viewing page (within a study). -->

      {% endblock %}

  </div>
  {% endblock %}
