<!-- 
<div id="seadragon_view" class="container-fluid"></div>

<div id="openseadragon1" style="width: 800px; height: 600px;"></div>
<script src="../static/openseadragon/openseadragon.min.js"></script>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "seadragon_view",
        prefixUrl: "{{ image_dir }}",
        tileSources: "{{ slide_url }}",
        navigationControlAnchor: OpenSeadragon.ControlAnchor.TOP_LEFT,
        zoomPerClick: 1.5,
  // Remaining options go here
    });
</script>
 

 -->