<!-- {% extends "base.html" %} -->

{% set full_screen_view = "True" %}

{% block content %}

<div class="row">
	<div id="view_slide"></div>
</div>


<script type="text/javascript" src="{{url_for('static', filename='jquery.js')}}""></script>
<script type="text/javascript" src="{{url_for('static', filename='openseadragon/openseadragon.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='openseadragon/openseadragon-scalebar.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='openseadragon-annotations/dist/openseadragon-annotations.js')}}"></script>
<script type="text/javascript">

	$(document).ready(function() {

		var wsi_x 		= parseInt("{{ x }}");
		var wsi_y 		= parseInt("{{ y }}");
		var image_id 	= parseInt($("div#image_id").text())

	    var dzi_data = {{ dzi_data|default('{}')|safe }};
		
	    var viewer = new OpenSeadragon({
		
	        id: 				"view_slide",
	        prefixUrl: 			"{{url_for('static', filename='openseadragon/images/')}}",
	        timeout: 			120000,
	        animationTime: 		0.25,
	        blendTime: 			0.1,
	        constrainDuringPan: true,
	        maxZoomPixelRatio: 	2,
	        minZoomLevel: 		1,
	        visibilityRatio: 	1,
	        zoomPerScroll: 		2,
			
	    }); // var viewer = new OpenSeadragon
		
		
	    viewer.addHandler("open", function() {
	        /*
				To improve load times, ignore the lowest-resolution Deep Zoom
				levels.  This is a hack: we can't configure the minLevel via
				OpenSeadragon configuration options when the viewer is created
				from DZI XML.
			*/
	        viewer.source.minLevel = 8;
	    }); // viewer.addHandler("open"
		
		
		/*
			Scale bar styling
		*/
	    
		viewer.scalebar({
	        xOffset: 			10,
	        yOffset: 			10,
	        barThickness: 		3,
	        color: 				'#555555',
	        fontColor: 			'#333333',
	        backgroundColor: 	'rgba(255, 255, 255, 0.5)',
	    }); // viewer.scalebar

		
	    function open_slide(url, mpp) {
	        var tile_source;
	        if (dzi_data[url]) {
	            // DZI XML provided as template argument (deepzoom_tile.py)
	            tile_source = new OpenSeadragon.DziTileSource(
	                    OpenSeadragon.DziTileSource.prototype.configure(
	                    OpenSeadragon.parseXml(dzi_data[url]), url));
	        } else {
	            // DZI XML fetched from server (deepzoom_server.py)
	            tile_source = url;
	        }
	        viewer.open(tile_source);
	        viewer.scalebar({
	            pixelsPerMeter: mpp ? (1e6 / mpp) : 0,
	        });
	        
	        viewer.initializeAnnotations();
			
	    } // function open_slide
		

	    open_slide("{{ slide_url }}", parseFloat('{{ slide_mpp }}'));
		
		/*
			Load Slide
		*/
		
	    $(".load-slide").click(function(ev) {
		
	        $(".current-slide").removeClass("current-slide");
	        $(this).parent().addClass("current-slide");
			
	        open_slide(
				$(this).attr('data-url'), 
				parseFloat(
					$(this).attr('data-mpp')
				)
			);
			
	        ev.preventDefault();
	    }); // .load-slide

		
     	/*
			Reset button
		*/
		
		$( "#reset_button" ).click(function() {
  			console.log( "Handler for .reset_button called." );
  			viewer.annotations.clean();
		}); // #reset_button

		
		/*
			Save button
		*/
		
		$( "#save_button" ).click(function() {
		
  			console.log( "Handler for .save_button called." );
  			var annotations = viewer.annotations.get();
  			var all_paths = []

			
  			for (var i = 0; i < annotations.length; i++) {
  				if (i % 2 == 1) {
  					// Odd
  					var path_data = annotations[i][1]['d'];
  					// console.log(path_data); // The SVG coordinates to send back to server.
  					all_paths.push(path_data);
  				}
  			} // for annotations.length

			
  			var all_data = {paths: all_paths, image_id: image_id, wsi_x: wsi_x, wsi_y: wsi_y};
  			console.log(all_data)
			$.ajax({
	            url: '/save_annotations',
	            dataType: 'json',
	            data: JSON.stringify(all_data),
	            type: 'POST',
	            success: function(response) {
	                console.log(response);
	            },
	            error: function(error) {
	                console.log(error);
	            }
	        }); // $.ajax
			
		}); // #save_button
		
	}); // $(document).ready

</script>


{% endblock %}

