<!-- {% extends "base.html" %} -->

{% set full_screen_view = "True" %}

{% block content %}

<div class="row">
	<div class="col col-md-10">
		<div id="view_slide"></div>
	</div>
	<div class="col col-md-2">
	    <div class="row">
    	
		    <h4>{{ study }} Study</h4>

			<div id="file_name" style="display: none;">{{ file_name }}</div>
			Image name: {{ file_name }} </br>
			<br/>
			<button type="button" id="reset_button" class="btn btn-warning">(R) Reset annotations</button></br>
			<br/>
			
			{% for code in annotation_types %}
				<button type="button" value="{{ code }}" class="save_button btn btn-success">({{code[0]}}) Save {{ code }} annotations</button></br><br/>
			{% endfor %}
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" id="prev_button" class="btn btn-default">
					{{ link_to('view_single', "(C) Previous", image_num=(image_num-1)) }}
				</button>
				<button type="button" id="next_button" class="btn btn-default">
					{{ link_to('view_single', "(V) Next  ", image_num=(image_num+1)) }}
				</button>
			</div><hr/>
			<div class="alert alert-warning" role="alert"><strong>Image {{ image_num + 1 }} of {{ image_count }}</strong></div>
			<div class="alert alert-danger" role="alert" id="save_status">No new annotations saved yet.</div>

			<!-- Panel for viewing any pre-existing annotations -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Saved Annotations</h3>
					</div>
					<div class="panel-body">
					{% for f in saved_annotations %}
					{{ f }} <br/>
					{% endfor %}
					<hr/>
					<strong>All annotations will be over-written if new ones are saved.</strong>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="{{url_for('static', filename='jquery.js')}}""></script>
<script type="text/javascript" src="{{url_for('static', filename='openseadragon/openseadragon.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='openseadragon-annotations/dist/openseadragon-svg-overlay.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='openseadragon/openseadragon-scalebar.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='openseadragon-annotations/dist/openseadragon-annotations.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='d3/d3.min.js')}}""></script>
<script type="text/javascript">

	$(document).ready(function() {

		var wsi_x = parseInt("{{ x }}");
		var wsi_y = parseInt("{{ y }}");
		var file_name = $("div#file_name").text()

	    var dzi_data = {{ dzi_data|default('{}')|safe }};
	    var viewer = new OpenSeadragon({
	        id: "view_slide",
	        prefixUrl: "{{url_for('static', filename='openseadragon/images/')}}",
	        timeout: 120000,
	        animationTime: 0.25,
	        blendTime: 0.1,
	        constrainDuringPan: true,
	        maxZoomPixelRatio: 2,
	        minZoomLevel: 1,
	        visibilityRatio: 1,
	        zoomPerScroll: 2,
	    });

	    viewer.addHandler("open", function() {
	        // To improve load times, ignore the lowest-resolution Deep Zoom
	        // levels.  This is a hack: we can't configure the minLevel via
	        // OpenSeadragon configuration options when the viewer is created
	        // from DZI XML.
	        viewer.source.minLevel = 8;
	    });
	    viewer.scalebar({
	        xOffset: 10,
	        yOffset: 10,
	        barThickness: 3,
	        color: '#555555',
	        fontColor: '#333333',
	        backgroundColor: 'rgba(255, 255, 255, 0.5)',
	    });

	    function open_slide(url, mpp) {
	        var tile_source;
	        if (dzi_data[url]) {
	            // DZI XML provided as template argument (deepzoom_tile.py)
	            tile_source = new OpenSeadragon.DziTileSource(
	                    OpenSeadragon.DziTileSource.prototype.configure(
	                    OpenSeadragon.parseXml(dzi_data[url]), url));
	        } else {
	            // DZI XML fetched from server (deepzoom_server.py)
	            tile_source = url;
	        }
	        viewer.open(tile_source);
	        viewer.scalebar({
	            pixelsPerMeter: mpp ? (1e6 / mpp) : 0,
	        });
	        
	        viewer.initializeAnnotations();
	    }

	    open_slide("{{ slide_url }}", parseFloat('{{ slide_mpp }}'));
	    $(".load-slide").click(function(ev) {
	        $(".current-slide").removeClass("current-slide");
	        $(this).parent().addClass("current-slide");
	        open_slide($(this).attr('data-url'),
	                parseFloat($(this).attr('data-mpp')));
	        ev.preventDefault();
	    });


	    var container_height = viewer.container.clientHeight;
	    var container_width = viewer.container.clientWidth;
	    
	    // Load the annotations
	    var coords = {{ coords }};

	    svg_coords = fetch_coordinates(coords);
		
		

	    // Build the overlay
       	var svg_overlay = viewer.svgOverlay();
       	var overlay = d3.select(svg_overlay.node());
	    var d3path = overlay.append("path")
                    .attr("stroke", "lawngreen")
                    .attr("stroke-width", 3)
                    .attr("stroke-linejoin", "round")
                    .attr("stroke-linecap", "round")
                    .attr("fill", "none")
                    .attr("d", svg_coords);

        svg_overlay.onClick(d3path.node(), function() {
            console.log('click', arguments);
        });

        $(window).resize(function() {
            svg_overlay.resize();
        });

     	// Handlers for button actions
		$( "#reset_button" ).click(function() {
  			reset();
		});

		// Handle keypress shortcuts - for now hard-coded into the system 
		// TODO take first letter from config array annotation types
		$(document).on('keyup keydown keypress', function(event) {
            switch (event.keyCode) { 
                case 114: // R for reset
                	reset();
                	break;
                case 101: // E for epithelial layer
                	save_annotations("EP");
                	break;
                case 115:
                	save_annotations("SM");
                	break;
                case 118: // V key for Next
                	window.location.href = "{{ url_for('view_single', image_num=(image_num+1)) }}";
                	break;
                case 99: // C key for Previous
                	window.location.href = "{{ url_for('view_single', image_num=(image_num-1)) }}";
                	break;
                default: 
                	// Some other unrecognised key was pressed; ignore.
                	break;
            }
        });

		$(".save_button").click(function() {
  			var code = $(this).val()
  			save_annotations(code);
  		});

		function reset() {
			viewer.annotations.clean();
  			$("#save_status").text("");
		}

		function fetch_coordinates(coords) {

			var x_scale = container_width / wsi_x;
			var y_scale = container_height / wsi_y;

			var conv_coords = [];
			// Each json file
			for (var i = 0; i < coords.length; i++) {
				var conv_coord = [];
				for (var j = 0; j < coords[i][0].length; j++) { // Each of the file's annotations
					conv_coord.push([coords[i][0][j][0] * x_scale, coords[i][0][j][1] * y_scale]); 
				}
				conv_coords.push(conv_coord);
			}

			// Convert to a SVG string.
			svg_coords = "";
			for (var i = 0; i < conv_coords.length; i++) {
				svg_coords += " M";
				for (var j = 0; j < conv_coords[i].length; j++) {
					if (j > 0)
						svg_coords += "L";
					svg_coords += conv_coords[i][j][0].toString() + " " + 
									conv_coords[i][j][1].toString() + " ";
					if (j == conv_coords[i].length - 1)
						svg_coords += "Z";

				}
			}
			console.log(svg_coords);
			return svg_coords;

		}

  		function save_annotations(code) {
  			console.log("save_annotations called with code: " + code)
  			var annotations = viewer.annotations.get();
  			var all_paths = []

  			for (var i = 0; i < annotations.length; i++) {
  				if (i % 2 == 1) {
  					// Odd
  					var path_data = annotations[i][1]['d'];
  					// console.log(path_data); // The SVG coordinates to send back to server.
  					all_paths.push(path_data);
  				}
  			}

  			var all_data = {
  				paths: all_paths, 
  				wsi_x: wsi_x, 
  				wsi_y: wsi_y, 
  				code: code,
  				file_name: file_name,
  			};

  			console.log(all_paths);

			$.ajax({
	            url: '/save_annotations',
	            dataType: 'json',
	            data: JSON.stringify(all_data),
	            type: 'POST',
	            success: function(response) {
	                // Display the status so we know it's all OK
	                $("#save_status").text(code + " annotation saved!");
	            },
	            error: function(error) {
	                console.log(error);
	                $("#save_status").text("Error saving annotation.");
	            }
	        });
		}

		$( "#prev_button" ).click(function() {
  			console.log( "Handler for .prev_button called." );
		});
		$( "#next_button" ).click(function() {
  			console.log( "Handler for .next_button called." );
		});
	});

</script>


{% endblock %}

